/*struttura base*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.bg_green {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 130px;
  background-color: #009688;
}

main {
  background-color: #d9d9d9;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

/*finestra chat principale*/

.main-wrapper {
  position: relative;
  top: 20px;
  display: flex;
  max-width: 1360px;
  height: calc(100% - 40px);
  background-color: yellow;
  margin: auto;
  z-index: 1;
  background-color: #e5ddd5;
}

.lista_chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.testo_chat {
  background-color: purple;
  height: calc(100% - 72px);
  display: flex;
  flex-direction: column;
}

/* header menu sx*/

.top_menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  width: 100%;
  background-color: #e6e6e6;
  padding: 10px 16px;
}

.utente_wa {
  flex-grow: 1;
}

.io {
  overflow:hidden;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.status, .new_chat, .menu, .allegato, .cerca {
  color: #919191;
  width: 40px;
  height: 40px;
  padding: 10px;
}

/* barra notifiche */
.notifiche {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #8edafc;
  padding: 10px 16px;
}

.fa-bell-slash {
  color:#8edafc;
  font-size: 20px;
  padding: 10px 0;
}

.bell {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.text_notifiche {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 2;
  padding: 10px 16px;
}

.ricevi {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.attiva {
  font-size: 12px;
  font-weight: 400;
  color: #525252;
  padding-top: 2px;
  text-decoration: underline;
}

/*barra ricerca*/
.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f7f7;
  height: 50px;
  padding: 10px;
}

.search input {
  width: calc(100% - 40px);
  height: 30px;
  background-color: #fff;
  border: 1px solid #fff;
}

.search_label {
  display: inline-block;
  width: 40px;
  height: 100%;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
}

.search_txt {
  width: calc(100% - 40px);
  font-size: 10px;
  font-weight: lighter;
  color: #b3b3b3;
}

.fa-search, .fa-paperclip {
  color: #b3b3b3;
  font-size: 20px;
}


/*lista chat*/
.chat_view {
  overflow-y: scroll;
  height: 100%;
}

.chat {
  display: flex;
  height: 72px;
  width: 100%;
  padding: 10px 16px;
  background-color:#fff;
  border-top: 0.5px solid #e6e6e6;
}

.bg_grey {
  background-color: #d9d9d9;
}

.icona_contatto {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.icon {
  width: 100%;
}

.contatto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 2;
  padding: 10px 15px;
}

.nome_contatto {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.status_contatto, .ora {
  font-size: 10px;
  font-weight: 300;
  color: #9D9D9D;
  text-align: left;
  padding-top: 5px;
}

.ora {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer {
  height: 70px;
  width: 100%;
  background-color:#fff;
}

/* finestra chat*/
.strumenti_chat {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 2;
}

.message {
  background-image: url("../img/mine.jpg");
  background-size: contain;
  height: calc(100% - 70px);
  background-repeat: repeat;
}
