/*struttura base*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg_green {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 130px;
  background-color: #009688;
}

main {
  background-color: #d9d9d9;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

/*finestra chat principale*/

.main-wrapper {
  position: relative;
  top: 20px;
  display: flex;
  width: 1200px;
  height: calc(100% - 40px);
  background-color: yellow;
  margin: auto;
  z-index: 1;
  background-color: #eaeaea;
}

.lista_chat {
  background-color: pink;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.testo_chat {
  background-color: purple;
  height: 100%;
  display: flex;
}

/* header menu sx*/

.top_menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  width: 100%;
  background-color: #ededed;
  padding: 10px 16px;
}

.utente_wa {
  flex-grow: 1;
}

.io {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.status, .new_chat, .menu{
  color: #919191;
  width: 40px;
  height: 40px;
  padding: 8px;
}

/* barra notifiche */
.notifiche {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #8edafc;
  padding: 10px 16px;
}

.fa-bell-slash {
  color:#8edafc;
  font-size: 20px;
  padding: 10px 0;
}
.bell {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.text_notifiche {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 2;
  padding: 10px 16px;
}

.ricevi {
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
